*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: radial-gradient(hsla(227, 54%, 34%, 0.507),hsla(121, 40%, 45%, 0.493));
}